
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Concert+One&family=Oswald:wght@200..700&family=Spicy+Rice&display=swap');

.img{
  border-radius: 40px;
  display: block;
  margin: auto;
  padding: 1%;
}


